<div class='jumbotron card-header text-center'>
    <h1>Order Up! <i class="fas fa-drumstick-bite"></i></h1>
    <hr>
    <h5>Awe crud, a hungry mans food list</h5>
</div>

<div class='container'>

    <div class='row d-flex justify-content-center'>
        <div class='col-6 align-items-center'>
            <form class='create-form'>
                <div class='input-group mb-4'>
                    <input type='text' name='name' class='form-control' id='burgerNew' placeholder='Next Order!' aria-label='Next Order'>
                    <button type='submit' class='btn' id='submitButton'>
                        <i class=" animated tada slow infinite fas fa-concierge-bell"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class='row'>

        <div class='col-6 text-center'>
            <h3 class='mt-1 text-center'>Expedite!</h3>
            <hr>
            <div class='card-body'>
                <ul> 
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgersFile/burgers-section devoured=false}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class='col-6 text-center'>
            <h3 class='mt-1 text-center'>Orders Up!</h3>
            <hr>
            <div class='card-body'>
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burgersFile/burgers-section devoured=true}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>

</div>
