<li>
	{{burger_name}}
    {{#unless devoured}}

    <button type="button" class="devoured mt-2 ml-1 btn-dark rounded" data-id="{{id}}" data-newdevoured="true">
        Ready!
    </button>

	{{/unless}}
</li>

<li>
    {{#if devoured}}

    <button type="button" class="deleteBurger mt-1 mb-1 btn-dark rounded" data-id="{{id}}" data-throwaway="true">
        Trash!
    </button>

	{{/if}}
</li>